
@{
    ViewBag.Title = "Modulo Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modulo Usuarios</h2>
<br />
<br />
@Html.ActionLink("Create User", "Create", "User", new { area = "" }, new {  })
